ultralytics==8.4.14
torch==2.10.0
torchvision==0.25.0
opencv-python==4.13.0.92
scikit-learn==1.8.0
grad-cam==1.5.5
matplotlib==3.10.8
pandas==3.0.1
numpy==2.4.2
Pillow==12.1.1
seaborn==0.13.2
jupyter_client==8.8.0
jupyter_core==5.9.1
